* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body{
    background-image: url(../images/bh3.png);
    color:white;
}

.clearfix{
  margin-left: 20px;
  margin-right: 20px;
}


.clearfix>img{
    float: right;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.flex-item>img{
  width: 100%;
  height: auto;
}

.flex-item{
  flex: 25%;
}


.icon{
    display:inline-flex;
    margin:20px;
}


.icon>img{
    margin: 120px;
}


.right{
text-align: right;
font-size: 30px;
color: skyblue;
}

.p1{
  font-size: 30px;
  color: skyblue;
}

.p2{
  font-size: 20px;
}

.margin{
  margin:40px;
}

.footer{
  background-color: skyblue;
  padding:30px ;
  text-align: center;
  margin-top: 7%;
}

@media(max-width:380px) {
  .flex-item{
    flex:100%;
  }
  
}

@media(max-width:600px) {
  .flex-item{
    flex: 100%;
  }
}

@media(max-width:770px){
  .flex-item{
    flex: 50%;
  }
}

@media(max-width:998px){
  .flex-item{
    flex: 25%;
  }
} 
    
    
    
    
       
    
    
    








