* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body{
    background-image: url(../images/bh3.png);
    color:white;
}

.clearfix{
  margin-left: 20px;
  margin-right: 20px;
}


.clearfix>img{
    float: right;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.icon{
    display:inline-flex;
    margin:20px;
}


.icon>img{
    margin: 120px;
}


.right{
text-align: right;
font-size: 30px;
color: skyblue;
}

.p1{
  font-size: 30px;
  color: skyblue;
}

.p2{
  font-size: 20px;
}

.margin{
  margin:40px;
}

.footer{
  background-color: skyblue;
  padding:30px ;
  text-align: center;
  margin-top: 7%;
}

@media only screen and (max-width: 992px) {
  .responsive{
    width: 23%;
    margin: 5px;

  }
}
  

@media only screen and (max-width: 600px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    
  }
}

@media only screen and (max-width: 380px) {
  .responsive {
    width: 100%;
  }
  .clearfix>img{
    max-width: 100%;
  }
}